/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 0%, 87%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="password"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:last-of-type {
    background-color: #008CBA;
}

button:hover {
    background-color: #45a049;
}

button:last-of-type:hover {
    background-color: #007bb5;
}

/* Estilos de la barra de progreso */
#progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    display: none;
}

#progress-bar div {
    height: 10px;
    width: 0;
    background-color: #45a049;
    animation: progress 2s infinite;
}

@keyframes progress {
    0% { width: 0; }
    50% { width: 100%; }S
    100% { width: 0; }
}

/* Estilos responsivos */
@media (max-width: 600px) {
    #app {
        padding: 10px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    button:last-of-type {
        width: 100%;
    }
}

.form-group.inline {
    display: flex;
    gap: 20px;
}

.form-group.inline label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: normal;
}
